#title {
    text-align: center;
}

#res1 {
    float: center;
    width: 25%;
    height: auto;
    margin-bottom: 2%;
}

#res2 {
    float: center;
    width: 25%;
    height: auto;
    margin-bottom: 2%;
}

#res3 {
    float: center;
    width: 25%;
    height: auto;
    margin-bottom: 2%;
}

#res4 {
    float: center;
    width: 25%;
    height: auto;
    margin-bottom: 2%;
}

#res5 {
    float: center;
    width: 25%;
    height: auto;
    margin-bottom: 2%;
    
}